*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.aleditor{
    border: 1px solid black;
    width: 98%;
    min-height: 350px;
    margin: auto
}
.aloutput{
    width:100%;
    height: 245px;
    padding: 10px;
    font-size: 20px;
    font-family: emoji;
    border:none;
    outline:none
}


.altookbar-container{
    width:100%;
    height: auto;
    margin-top:2px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7px
}
.altookbar{
    border-bottom: 1px solid black;
    display: flex;
    gap: 8px;
    padding-left: 10px;
}

.altool-button{
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-size: 14px;
    cursor: pointer;
}